<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pxf.fftv.plus">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".FFTVApplication"
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="false"
        android:icon="@drawable/ic_launcher"
        android:banner="@drawable/tv_banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="channel"
            android:value="fftv" />


        <activity
            android:name=".contract.VideoScreenActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".contract.ProtocolActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".contract.SearchNewActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/AppSearchTheme" />
        <activity
            android:name=".contract.list.VideoListActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".player.EXOPlayerPhoneActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".player.EXOPlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".contract.collect.VideoCollectActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".contract.history.VideoHistoryActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".player.NativePlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".contract.live.IjkTVLiveActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".contract.live.M3uIptvActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".player.IjkMediaPlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".player.IjkPlayerPhoneActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".contract.CardActivity"
            android:exported="false"
            android:theme="@style/TransparentActivity" />
        <activity
            android:name=".contract.UpdateActivity"
            android:exported="false"
            android:theme="@style/TransparentActivity" />
        <activity
            android:name=".contract.QrCodeActivity"
            android:exported="false"
            android:theme="@style/TransparentActivity" />
        <activity
            android:name=".contract.VipPayActivity"
            android:exported="false"
            android:theme="@style/TransparentActivity" />
        <activity
            android:name=".contract.VipActivity"
            android:exported="false"
            android.screenOrientation="landscape" />
        <activity
            android:name=".contract.SearchActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".contract.personal.AccountActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".contract.personal.SettingActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".contract.detail.VideoDetailActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".contract.home.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".contract.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PermissionActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <!-- TBS VideoActivity removed - deprecated -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.pxf.fftv.plus.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>